body {
    font: 15px arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* global */

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.container-nav {
    float: right;
}

.left {
    width: 100%;
}

.general-button {
    height: 32px;
    background: #2991d6;
    border: 0;
    padding-left: 32px;
    padding-right: 32px;
    color: #ffffff;
    margin-top: 50px;
}

.general-button:hover {
    transform: translateY(3px);
}

/* header */

header {
    background: #082233;
    color: #2991d6;
    min-height: 60px;
    border-bottom: #2991d6 3px solid;
}

a {
    color: #2991d6;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    margin: o;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 12px;
}

#logo {
    float: left;
    margin-top: 15px;
    margin-left: 138px;
}

#logo h1 {
    margin: 0;
}

#authentication {
    float: left;
}

/* sliders */

.top {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/landing.jpg);
    height: 70vh;
    background-attachment: relative;
    background-position: center;
    background-size: cover;
}

.top h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

.top {
    font-size: 20px;
}

.top p {
    margin-top: 170px;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    margin-bottom: 0;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* cards */

#cards {
    margin-top: 15px;
}

.slogans {
    flex-direction: row;
    text-align: center;
    width: 30%;
    padding: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

#cards img {
    width: 90px;
}

#instructions {
    text-align: center;
}

#get-started {
    margin-left: 40%;
    /* margin-right: 30%; */
    margin-bottom: 50px;
}

/* footer */

footer {
    padding: 20px;
    margin-top: 0px;
    color: #2991d6;
    background-color: #082233;
    text-align: center;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.general-button:hover {
    opacity: 1;
}

/* forms */

* {
    box-sizing: border-box
}

.container {
    padding: 16px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.general-button:hover {
    opacity: 1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}